* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;

}
.header {
    width: 100%;
    list-style: none;
    padding: 35px 0px;
    display: inline-block;
    font-size: 30px;
    border: 1px solid lightgrey;
}

.top-left {
    width: 50%;
    float: left;
    text-align: left;
    border: 1px solid lightgrey;

}

.top-right {
    width: 50%;
    float: left;
    text-align: right;
    padding-right: 20px;
    border: 1px solid lightgrey;
}

main {
    display: block;
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 15%;
    text-align: left;
    border: 1px solid lightgrey;

}

.startbutton, h1{
    text-align: center;
}

h1 {
    border: 1px solid lightgrey;
}

.startbutton {
    width: 100%;
    margin-top: 17%;
    border: none;
    font-size: 30px;
}

.submit, .nextbttn {  
    width: 100%;
    border: none;
}

.question, .ans, .submit {
    margin: 10px;
    text-align: left;
    border: 1px solid lightgrey;
    font-size: 25px;
    width: 100%;
}

.correctanswer, .nextbttn {
    text-align: center;
    border: 1px solid lightgrey;
    font-size: 25px;
    margin-top: 10%;
}
.correctanswer {
    padding: 20px;
}

.wronganswer, .description {
    text-align: center;
    border: 1px solid lightgrey;
    font-size: 25px;
}

.results {
    text-align: center;
    border: 1px solid lightgrey;
    font-size: 25px;
}

.restart{
    width: 100%;
    border-style: none;
    margin-top: 20%;
    border: 1px solid lightgrey;
    font-size: 25px;
}

.question-form{
    display: none;
}