* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
.header {
    width: 100%;
    list-style: none;
    padding: 35px 0px;
    display: inline-block;
    font-size: 30px;
    font-family: 'MedievalSharp', cursive;
}

.top-left {
    width: 50%;
    float: left;
    text-align: left;
    padding-left: 1%;
}

.top-right {
    width: 50%;
    float: left;
    text-align: right;
    padding-right: 20px;
}

main {
    display: block;
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 15%;
    text-align: left;
}

.startbutton, h1{
    text-align: center;
    font-family: 'MedievalSharp', cursive;
}

.startQuiz {
    padding: 20px;
}

.startbutton {
    width: 50%;
    margin-top: 9%;
    margin-bottom: 5%;
    font-size: 25px;
    background-color: rgba(63, 63, 63, 0.925);
    color: #bfbfbf;
    margin-left: 25%;
    margin-right: 25%;
    border: 1px solid black;
    border-radius: 25px;
    padding-bottom: 1%;
    font-family: 'MedievalSharp', cursive;
}

.nextbttn {  
    width: 100%;
    border: none;
}

.question, .ans, .submit {
    margin: 10px;
    text-align: left;
    
    font-size: 25px;
    font-family: 'MedievalSharp', cursive;
    /*
    width: 100%;
    */
}

.submit, .nextbttn{
    width: 70%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid black;
    color: #bfbfbf;
    background-color: rgba(69, 69, 70, .9);
    border-radius: 13px;
    font-size: 25px;
    margin-top: auto;
    font-family: 'MedievalSharp', cursive;
    display: block;
}
.submit:hover{
    background-color: black;
    cursor: pointer;
}

.nextbttn{
    margin-bottom: 4%;
    margin-top: 4%;
}
.nextbttn:hover{
    background-color: black;
    cursor: pointer;
}
.correctanswer {
    text-align: center;
    font-family: 'MedievalSharp', cursive;
    font-size: 25px;
    margin-top: 10%;
}
.correctanswer {
    padding: 20px;
}

.wronganswer, .description {
    text-align: center;
    font-family: 'MedievalSharp', cursive;
    font-size: 25px;
}

.results, p {
    text-align: center;
    font-size: 25px;
    font-family: 'MedievalSharp', cursive;
}

.restart{
    width: 50%;
    margin-right: 25%;
    margin-left: 25%;
    border-style: none;
    border-radius: 20px;
    margin-top: 7%;
    margin-bottom: 4%;
    font-size: 25px;
    color: #bfbfbf;
    border: 1px solid black;
    background-color: rgba(69, 69, 70, .9);
    font-family: 'MedievalSharp', cursive;

}
.restart:hover{
    background-color: black;
    cursor: pointer;
}

.question-form{
    display: none;
}

body {
  background-image: url(https://wallpapertag.com/wallpaper/full/7/1/1/936097-hbo-game-of-thrones-wallpaper-1920x1080-for-lockscreen.jpg);
  background-position: center center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  /* Set a background color that will be displayed
     while the background image is loading */
  background-color: #464646;
}
.startQuiz, #questionForm, .question-form {
    background-color: rgba(69, 69, 70, .9);
    border-radius: 4px;
    color: #bfbfbf;
}
h2 {
    overflow-wrap: break-word;
}
.header {
    color: #bfbfbf;
}

.question-form{
    padding: 20px;
}

.startbutton:hover{
    background-color: black;
    cursor: pointer;
}


input:hover {
    cursor: pointer;
}

@media only screen and (max-width: 480px) {
  
    .top-left{
        padding-left: 4%;
        padding-right: 10%;
    }
    .top-right{
        padding-right: 4%;
    }
    body, .restart, .results, p, .wronganswer, .description, .startbutton, .correctanswer, .submit, .nextbttn, .question, .ans, .header, h1{
        font-size: 15px;
    }
};
